<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统 - 项目信息维护</title>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>
	<div id = "app">
	  	 <el-container>
	  	 	<el-header>
				<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
	  	 	</el-header>
	  	 	<el-main>
	  	 		<el-row type = "flex" :justify = "end" :align = "middle">
	  	 			<el-col :span = "4">
	  	 				<!-- 引入左侧导航栏 -->
						<system-menu location = "项目管理"></system-menu>
	  	 			</el-col>
	  	 			<el-col :span = "13" :offset = "7">
	  	 				<el-form :inline = "true">
	  	 					<el-form-item>
	  	 						<el-switch							  		
								  	v-model="searchtype"
								  	active-text="项目名称"
								  	inactive-text="项目编号">
								</el-switch>
	  	 					</el-form-item>
	  	 					<el-form-item>
	  	 						<el-input v-model = "searchkey"></el-input>
	  	 					</el-form-item>
	  	 					<el-form-item>
	  	 						<el-button icon = "el-icon-search" round plain type = "success" @click = "getProData">查找</el-button>
	  	 					</el-form-item>
	  	 					<el-form-item>
	  	 						<el-button icon = "el-icon-plus" round plain type = "primary" @click = "addPro">新增</el-button>
	  	 					</el-form-item>
	  	 				</el-form>		  	 				
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row>
	  	 			<el-col :span = "24">
	  	 				<el-table :data="proData" style="width:100%;" :max-height = "height">
	  	 					<!-- 使用 v-if 隐藏列 -->
					      	<el-table-column prop = "tid" v-if = "false"></el-table-column>
					      	<el-table-column prop = "code" label = "项目编号"></el-table-column>
					      	<el-table-column prop = "name" label = "项目名称"></el-table-column>
					      	<el-table-column prop = "contractno" label = "合同编号"></el-table-column>
					      	<el-table-column prop = "prno" label = "PR编号"></el-table-column>
					      	<el-table-column prop = "startdate" label = "开始日期"></el-table-column>
					      	<el-table-column prop = "enddate" label = "结束日期"></el-table-column>
					      	<el-table-column label = "操作" width = "250" align = "center">
					      		<template slot-scope="scope">
					      			<el-tooltip style="margin:4px;" effect="light" content="修改" placement="bottom-start">
								        <el-button
								          size="mini"
								          type = "primary"
								          icon = "el-icon-edit"
								          plain
								          @click="editPro(scope.$index, scope.row)">
								        </el-button>
							        </el-tooltip>
							        <el-tooltip style="margin:4px;" effect="light" content="成员管理" placement="bottom-start">
								        <el-button
								          size="mini"
								          type="success"
								          plain
								          @click="groupUsers(scope.$index, scope.row)"><i class = "fa fa-users"></i>
								      	</el-button>
								    </el-tooltip>
								    <el-tooltip style="margin:4px;" effect="light" content="状态管理" placement="bottom-start">
									      <el-button
									          size="mini"
									          type="warning"
									          icon = "el-icon-s-flag"
									          plain
									          @click="proStatus(scope.$index, scope.row)">
									       </el-button>
									</el-tooltip>
									<el-tooltip style="margin:4px;" effect="light" content="发票管理" placement="bottom-start">
								        <el-button
								          size="mini"
								          type="success"
								          plain
								          @click="proInvoice(scope.$index, scope.row)"><i class = "fa fa-money"></i>
								        </el-button>
								     </el-tooltip> 
						      </template>
					      	</el-table-column>
					    </el-table>	
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row type = "flex" justify = "end" align = "bottom">
	  	 			<el-col :span = "24">
	  	 				<el-pagination 
	  	 					layout="prev, pager, next" 
	  	 					:total="total" 
	  	 					:page-size="items"
	  	 					@current-change = "changePage"
	  	 					small >
	  	 				</el-pagination>
	  	 			</el-col>
	  	 		</el-row>
	  	 		<!-- 项目表单窗体 -->
		 		<el-dialog :title = "formTitle" width = "60%" :visible.sync = "formVisible" @close = "closePro" :close-on-click-modal = "false">
					<el-form :model="form" :rules = "rules" ref = "proForm">
						<el-row type = "flex" justify = "center" align = "middle">
							<el-col :span = "12">
								<el-form-item label="项目编号" :label-width="formLabelWidth1">
				      				<el-input v-model="form.code" autocomplete="off" :disabled = "true" placeholder = "系统自动生成"></el-input>
				    			</el-form-item>
							</el-col>
							<el-col :span = "12">
								<el-form-item label="项目名称" :label-width="formLabelWidth1" prop = "name">
				      				<el-input v-model="form.name" autocomplete="off"></el-input>
				    			</el-form-item>
							</el-col>
						</el-row>	
						<el-row type = "flex" justify = "center" align = "middle">
							<el-col :span = "12">
								<el-form-item label="合同编号" :label-width="formLabelWidth1" prop = "contractno">
				      				<el-input v-model="form.contractno" autocomplete="off"></el-input>
				    			</el-form-item>
							</el-col>
							<el-col :span = "12">
								<el-form-item label="PR编号" :label-width="formLabelWidth1" prop = "prno">
				      				<el-input v-model="form.prno" autocomplete="off"></el-input>
				    			</el-form-item>
							</el-col>
						</el-row>	
						<el-row type = "flex" justify = "center" align = "middle">
							<el-col :span = "24">
								<el-form-item label="项目描述" :label-width="formLabelWidth1" prop = "remark">
				      				<el-input type = "textarea" :rows="3" autosize v-model="form.remark" autocomplete="off"></el-input>
				    			</el-form-item>
							</el-col>
						</el-row>		  	 						
						<el-row type = "flex" justify = "center" align = "middle">
							<el-col :span = "12">
								<el-form-item label="开始日期" :label-width="formLabelWidth1" prop = "startdate">
								  <el-date-picker
								      v-model="form.startdate"
								      type="date"
								      placeholder="选择日期"
								      value-format = "yyyy-MM-dd">
								  </el-date-picker>
								</el-form-item>
							</el-col>
							<el-col :span = "12">
								<el-form-item label="结束日期" :label-width="formLabelWidth1" prop = "enddate">
								  <el-date-picker
								      v-model="form.enddate"
								      type="date"
								      placeholder="选择日期"
								      value-format = "yyyy-MM-dd">
								  </el-date-picker>
								</el-form-item>
							</el-col>
						</el-row>									    
						<el-row type = "flex" justify = "left" align = "middle">
							<el-col :span = "10">
								<el-form-item label="合同金额" :label-width="formLabelWidth1" prop = "amount">
			      					<el-input v-model="form.amount" autocomplete="off"><template slot="append">￥</template></el-input>
			    				</el-form-item>
							</el-col>
						</el-row>								    									
					 </el-form>
					 <div slot="footer">
					    <el-button @click="closePro">取 消</el-button>
					    <el-button type="primary" @click="savePro('proForm')">保存</el-button>
					 </div>
				</el-dialog>
 	 			<!-- 项目组成员窗体 -->
	  	 		<el-dialog title = "项目成员" :visible.sync = "groupVisible" :close-on-click-modal = "false">
		 			<el-transfer
		 				:titles="['用户选择','项目成员']"
					    filterable	
					    target-order = "push"					    
					    filter-placeholder="请输入姓名"
					    v-model="members"
					    :data="users"
					    @change = "saveGroup">
					</el-transfer>
		 		</el-dialog>
	  	 		<!-- 项目状态窗体 -->
	  	 		<el-dialog title = "项目状态" width = "70%" :visible.sync = "statusVisible" @close = "statusVisible = false" :close-on-click-modal = "false">
	 					<el-form :model="stsform" :rules = "stsrules" ref = "proStatusForm">
	 						<el-row type = "flex" justify = "center" align = "middle">
	 							<el-col :span = "12">
	 								<el-form-item label="客户公司" :label-width="formLabelWidth2" prop = "company">
						      <el-input v-model="stsform.company" autocomplete="off"></el-input>
						    </el-form-item>
	 							</el-col>
	 							<el-col :span = "12">
	 								<el-form-item label="法人" :label-width="formLabelWidth2" prop = "legalorg">
						      <el-input v-model="stsform.legalorg" autocomplete="off"></el-input>
						    </el-form-item>
	 							</el-col>
	 						</el-row>	
	 						<el-row type = "flex" justify = "center" align = "middle">
	 							<el-col :span = "12">
	 								<el-form-item label="客户公司主管部门" :label-width="formLabelWidth2" prop = "legaldept">
						      <el-input v-model="stsform.legaldept" autocomplete="off"></el-input>
						    </el-form-item>
	 							</el-col>
	 							<el-col :span = "12">
	 								<el-form-item label="我司主管部门" :label-width="formLabelWidth2" prop = "ddicdept">
						      <el-input v-model="stsform.ddicdept" autocomplete="off"></el-input>
						    </el-form-item>
	 							</el-col>
	 						</el-row>
	 						<el-row type = "flex" justify = "center" align = "middle">
	 							<el-col :span = "12">
	 								<el-form-item label="新项目" :label-width="formLabelWidth2" prop = "newpro">
						    	<el-select v-model="stsform.newpro" placeholder="请选择">
								    <el-option v-for = "item in yn" :label="item.view" :value="item.value" :key="item.value"></el-option>
								</el-select>
						    </el-form-item>
	 							</el-col>
	 							<el-col :span = "12">
	 								<el-form-item label="分类" :label-width="formLabelWidth2" prop = "category">
						    	<el-select v-model="stsform.category" placeholder="请选择">
								    <el-option v-for = "item in cs" :label="item.view" :value="item.value" :key="item.value"></el-option>
								</el-select>
						    </el-form-item>
	 							</el-col>
	 						</el-row>	
	 						<el-row type = "flex" justify = "left" align = "middle">
	 							<el-col :span = "12">
	 								<el-form-item label="状态" :label-width="formLabelWidth2" prop = "state">
						    	<el-select v-model="stsform.state" placeholder="请选择项目状态">
							  		<el-option v-for = "state in states" :label="state.view" :value="state.value"></el-option>
							  	</el-select>
						    </el-form-item>
	 							</el-col>
	 							<el-col :span = "10">
	 								<el-form-item label="执行可能性" :label-width="formLabelWidth2" prop = "possible">
						      <el-input v-model="stsform.possible" type = "possible" autocomplete="off"><template slot="append">%</template></el-input>
						    </el-form-item>
	 							</el-col>
	 						</el-row>
	 						<el-row type = "flex" justify = "center" align = "middle">
	 							<el-col :span = "12">
	 								<el-form-item label="合同开始日期" :label-width="formLabelWidth2" prop = "contractstart">
							  <el-date-picker
							      v-model="stsform.contractstart"
							      type="date"
							      placeholder="选择日期"
							      value-format = "yyyy-MM-dd">
							  </el-date-picker>
							</el-form-item>
	 							</el-col>
	 							<el-col :span = "12">
	 								<el-form-item label="合同结束日期" :label-width="formLabelWidth2" prop = "contractend">
							  <el-date-picker
							      v-model="stsform.contractend"
							      type="date"
							      placeholder="选择日期"
							      value-format = "yyyy-MM-dd">
							  </el-date-picker>
							</el-form-item>
	 							</el-col>
	 						</el-row>									    
	 						<el-row type = "flex" justify = "left" align = "middle">
	 							<el-col :span = "10">
	 								<el-form-item label="事业预算" :label-width="formLabelWidth2" prop = "budget">
						      <el-input v-model="stsform.budget" autocomplete="off"><template slot="append">￥</template></el-input>
						    </el-form-item>
	 							</el-col>
	 							<el-col :span = "12" :offset = "2">
	 								<el-form-item label="进行现况" :label-width="formLabelWidth2" prop = "process">
						      <el-input v-model="stsform.process" autocomplete="off"></el-input>
						    </el-form-item>
	 							</el-col>
	 						</el-row>								    									
				 	</el-form>
				 	<div slot="footer">
				    	<el-button @click="statusVisible = false">取 消</el-button>
				    	<el-button type="primary" @click="saveProStatus('proStatusForm')">保存</el-button>
				 	</div>
				</el-dialog>
 	 			<!-- 项目发票信息 -->
		        <el-dialog title = "项目发票信息" width = "70%" :visible.sync = "invoiceVisible" :close-on-click-modal = "false">
		          	<el-form :inline="true" :model="invcform" :rules = "invcrules" size = "mini" ref = "invcform">
		          		 <el-form-item prop = "stage">
						    <el-select v-model="invcform.stage" placeholder="请选择发票区分">
						  		<el-option v-for = "stage in stages" :label="stage.view" :value="stage.value"></el-option>
						  	</el-select>
						 </el-form-item>
						 <el-form-item prop = "percent">
						    <el-input v-model="invcform.percent" placeholder="支付比例"><template slot="append">%</template></el-input></el-input>
						 </el-form-item>
						 <el-form-item prop = "invoicedt">
						    <el-date-picker
						      v-model="invcform.invoicedt"
						      type="date"
						      placeholder="开票时间"
						      value-format = "yyyy-MM-dd">
						  	</el-date-picker>
						 </el-form-item>
						 <el-form-item>
						    <el-button type="primary" @click="saveInvoice('invcform')" icon = "el-icon-check" size = "mini" plain round>{{ibuttonText}}</el-button>
						    <el-button type="success" @click="resetInvoice('invcform')" icon = "el-icon-refresh-left" size = "mini" plain round>重置</el-button>
						 </el-form-item>
		          	</el-form>
		          	<el-table :data="invcData" size = "mini" @row-click = "editInvoice">
		          		<el-table-column prop="tid" label="发票信息-ID" align = "center" v-if = "false"></el-table-column>
				      	<el-table-column prop="stage" label="区分" align = "center" v-if = "false"></el-table-column>
				      	<el-table-column prop="stageStr" label="区分" align = "center"></el-table-column>
				      	<el-table-column prop="percent" label="支付比例" align = "center"></el-table-column>
				      	<el-table-column prop="invoicedt" label="开票时间" align = "center"></el-table-column>
				    </el-table>
		        </el-dialog>
	  	 	</el-main>
	  	 </el-container>		  	 
	</div>
	<script type = "text/javascript" th:src = "@{/static/js/biz/program/app.js}" charset="UTF-8"></script>
</body>
</html>