<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统 - 项目信息维护</title>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>
	<div id = "app">
	  	 <el-container>
	  	 	<el-header>
				<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
	  	 	</el-header>
	  	 	<el-main>
	  	 		<el-row type = "flex" :justify = "end" :align = "middle">
	  	 			<el-col :span = "4">
	  	 				<!-- 引入左侧导航栏 -->
						<system-menu location = "项目管理"></system-menu>
	  	 			</el-col>
	  	 			<el-col :span = "13" :offset = "7">
	  	 				<el-form :inline = "true">
	  	 					<el-form-item>
	  	 						<el-switch							  		
								  	v-model="searchtype"
								  	active-text="项目名称"
								  	inactive-text="项目编号">
								</el-switch>
	  	 					</el-form-item>
	  	 					<el-form-item>
	  	 						<el-input v-model = "searchkey"></el-input>
	  	 					</el-form-item>
	  	 					<el-form-item>
	  	 						<el-button icon = "el-icon-search" round plain type = "success" @click = "getProData">查找</el-button>
	  	 					</el-form-item>
	  	 					<el-form-item>
	  	 						<el-button icon = "el-icon-plus" round plain type = "primary" @click = "addPro">新增</el-button>
	  	 					</el-form-item>
	  	 				</el-form>		  	 				
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row>
	  	 			<el-col :span = "24">
	  	 				<el-table :data="proData" style="width:100%;" :max-height = "height">
	  	 					<!-- 使用 v-if 隐藏列 -->
					      	<el-table-column prop = "tid" v-if = "false"></el-table-column>
					      	<el-table-column prop = "code" label = "项目编号"></el-table-column>
					      	<el-table-column prop = "name" label = "项目名称"></el-table-column>
					      	<el-table-column prop = "contractno" label = "合同编号"></el-table-column>
					      	<el-table-column prop = "prno" label = "PR编号"></el-table-column>
					      	<el-table-column prop = "startdate" label = "开始日期"></el-table-column>
					      	<el-table-column prop = "enddate" label = "结束日期"></el-table-column>
					      	<el-table-column label = "操作" width = "250" align = "center">
					      		<template slot-scope="scope">
					      			<el-tooltip style="margin:4px;" effect="light" content="修改" placement="bottom-start">
								        <el-button
								          size="mini"
								          type = "primary"
								          icon = "el-icon-edit"
								          plain
								          @click="editPro(scope.$index, scope.row)">
								        </el-button>
							        </el-tooltip>
							        <el-tooltip style="margin:4px;" effect="light" content="成员管理" placement="bottom-start">
								        <el-button
								          size="mini"
								          type="success"
								          plain
								          @click="groupUsers(scope.$index, scope.row)"><i class = "fa fa-users"></i>
								      	</el-button>
								    </el-tooltip>
								    <el-tooltip style="margin:4px;" effect="light" content="状态管理" placement="bottom-start">
									      <el-button
									          size="mini"
									          type="warning"
									          icon = "el-icon-s-flag"
									          plain
									          @click="proStatus(scope.$index, scope.row)">
									       </el-button>
									</el-tooltip>
									<el-tooltip style="margin:4px;" effect="light" content="发票管理" placement="bottom-start">
								        <el-button
								          size="mini"
								          type="success"
								          plain
								          @click="proInvoice(scope.$index, scope.row)"><i class = "fa fa-money"></i>
								        </el-button>
								     </el-tooltip> 
						      </template>
					      	</el-table-column>
					    </el-table>	
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row type = "flex" justify = "end" align = "bottom">
	  	 			<el-col :span = "24">
	  	 				<el-pagination 
	  	 					layout="prev, pager, next" 
	  	 					:total="total" 
	  	 					:page-size="items"
	  	 					@current-change = "changePage"
	  	 					small >
	  	 				</el-pagination>
	  	 			</el-col>
	  	 		</el-row>
	  	 		<!-- 项目信息新增/修改 -->
	  	 		<div th:include="/biz/pro/main/edit::pro_edit()"></div>
 	 				<!-- 项目组成员窗体 -->
	  	 		<div th:include="/biz/pro/main/group::pro_group()"></div>
	  	 		<!-- 项目状态窗体 -->
	  	 		<div th:include="/biz/pro/main/status::pro_status()"></div>
 	 				<!-- 项目发票信息 -->
		        <div th:include="/biz/pro/main/invoice::pro_invoice()"></div>
	  	 	</el-main>
	  	 </el-container>		  	 
	</div>
	<script type = "text/javascript" th:src = "@{/static/js/biz/program/app.js}" charset="UTF-8"></script>
</body>
</html>