<!DOCTYPE html>
<html>
	<div th:fragment="common_js(scripts)">
		<script type = "text/javascript" th:src = "@{/static/js/jquery-3.3.1.min.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/static/js/vue.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/static/js/echarts/echarts.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/static/js/components/header.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/static/js/components/menus.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/static/element-ui/js/index.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/static/js/axios.min.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/static/js/jquery-confirm.min.js}" charset="UTF-8"></script>
	    <!--/* Per-page placeholder for additional js */-->
	    <th:block th:replace="${scripts}" />
	</div>
</html>