<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<div th:fragment="common_naveu()" id = "system_naveu">
 		<el-row align = "bottom" justify = "end" type = "flex" style = "border-bottom:1px solid #ddd;padding-bottom:15px;" id = "nav">
 			<el-col :span = "6">
 				<el-image src="/static/images/logoes/head_logo.png" :fit="fill"></el-image>
 				&nbsp;&nbsp;<span style = "font-size:20px;color:#888;">项目管理系统</span>
 			</el-col>
 			<el-col :span = "1" :offset = "17">
 				<el-tooltip style="margin:4px;" effect="light" placement="bottom-start">
 					<div slot="content">
 						<div th:if = "${session.currentUserType == 1}">
 							<el-link :underline="false" href = "/pm/web/work"><i class = "fa fa-home"></i>&nbsp;&nbsp;Home</el-link>
 							<hr>
 						</div>
 						<div><el-link :underline="false" href = "/pm/web/logout"><i class = "fa fa-sign-out"></i>&nbsp;&nbsp;Logout</el-link></div>
 					</div>
 					<!--el-avatar icon="el-icon-user-solid"><span th:text="${session.currentUserName}"></span></el-avatar-->
 					<el-button icon="el-icon-user" circle></el-button>
 				</el-tooltip>
 			</el-col>
 		</el-row>
	</div>	
</html>