<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统 - 用户信息维护</title>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>
		<div id = "app">
		  	 <el-container>
		  	 	<el-header>
					<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
		  	 	</el-header>
		  	 	<el-main>
		  	 		<el-row type = "flex" justify = "center" align = "middle">
		  	 			<!--el-col :span = "4">
		  	 				<el-button type = "info" icon = "el-icon-menu" circle plain></el-button>
		  	 			</el-col-->
		  	 			<el-col :span = "2" :offset = "22">
		  	 				<el-button type = "primary" icon = "el-icon-plus" round plain @click = "addUser('userForm')" size = "small">新增</el-button>
		  	 				<el-dialog :title = "formTitle" :visible.sync = "formVisible" @close = "closeUser" :close-on-click-modal = "false">
		  	 					<el-form :model="form" :rules = "rules" ref = "userForm">
								    <el-form-item label="用户代码" :label-width="formLabelWidth" prop = "code">
								      <el-input v-model="form.code" autocomplete="off"></el-input>
								    </el-form-item>
								    <el-form-item label="用户名称" :label-width="formLabelWidth" prop = "name">
								      <el-input v-model="form.name" autocomplete="off"></el-input>
								    </el-form-item>
								    <el-form-item label="用户类型" :label-width="formLabelWidth" prop = "usertype">
									  <el-select v-model="form.usertype" placeholder="请选择用户类型">
									  	<el-option label="工厂人员" value="shanghai"></el-option>
									    <el-option label="开发公司" value="beijing"></el-option>
									  </el-select>
									</el-form-item>
								    <el-form-item label="用户密码" :label-width="formLabelWidth" prop = "pwd">
								      <el-input v-model="form.pwd" autocomplete="off"></el-input>
								    </el-form-item>
								    <el-form-item label="用户角色" :label-width="formLabelWidth" prop = "userrole">
									  <el-select v-model="form.userrole" placeholder="请选择用户角色">
									  	<el-option label="管理员" value="shanghai"></el-option>
									    <el-option label="斗山PU" value="beijing"></el-option>
									  </el-select>
									</el-form-item>
									<el-form-item label="用户组织" :label-width="formLabelWidth" prop = "userorg">
									  <el-select v-model="form.userorg" placeholder="请选择用户组织">
									  	<el-option label="DICC" value="shanghai"></el-option>
									    <el-option label="DISD" value="beijing"></el-option>
									  </el-select>
									</el-form-item>
								 </el-form>
								 <div slot="footer" class="dialog-footer">
								    <el-button @click="closeUser">取 消</el-button>
								    <el-button type="primary" @click="saveUser('userForm')">保存</el-button>
								 </div>
		  	 				</el-dialog>
		  	 			</el-col>
		  	 		</el-row>
		  	 		<el-row>
		  	 			<el-col :span = "24">
		  	 				<el-table :data="userData" style="width:100%;" :max-height = "height">
		  	 					<!-- 使用 v-if 隐藏列 -->
						      	<el-table-column prop = "tid" label = "ID" v-if = "false"></el-table-column>
						      	<el-table-column prop = "name" label = "用户名称"></el-table-column>
						      	<el-table-column prop = "stsStr" label = "系统状态"></el-table-column>
						      	<el-table-column label = "操作" width = "200" align = "center">
						      		<template slot-scope="scope">
								        <el-button
								          size="mini"
								          type = "primary"
								          icon = "el-icon-edit"
								          plain
								          :disabled = "scope.row.stsStr == '停用'"
								          @click="editUser(scope.$index, scope.row)"></el-button>
								        <el-button
								          size="mini"
								          type="warning"
								          icon = "el-icon-close"
								          plain
								          :disabled = "scope.row.stsStr == '停用'"
								          @click="unuseUser(scope.$index, scope.row)"></el-button>
								        <el-button
								          size="mini"
								          type="success"
								          icon = "el-icon-check"
								          plain
								          :disabled = "scope.row.stsStr == '在用'"
								          @click="reuseUser(scope.$index, scope.row)"></el-button>
							      </template>
						      	</el-table-column>
						    </el-table>	
		  	 			</el-col>
		  	 		</el-row>
		  	 		<el-row type = "flex" justify = "end" align = "bottom">
		  	 			<el-col :span = "24">
		  	 				<el-pagination 
		  	 					layout="prev, pager, next" 
		  	 					:total="total" 
		  	 					:page-size="items"
		  	 					@current-change = "changePage"
		  	 					small >
		  	 				</el-pagination>
		  	 			</el-col>
		  	 		</el-row>	
		  	 	</el-main>
		  	 </el-container>		  	 
		</div>
	<script>
		var app = new Vue({
			el:"#app",
			data:function(){				
				return{
					total:10,							//记录总条数
					items:10,							//每页条数
					page: 1,							//当前页
					height:window.screen.height * 0.55,	//表格最大高度
					formTitle:'新增用户',					//用户窗体标题
					formVisible:false,					//用户窗体显示	
					formLabelWidth:'120px',
					form:{
						id:'',
						code:'',
						name:'',
						pwd:'',
						userrole:'',
						usertype:'',
						userorg:'',
						status:1
					},
					rules:{
						code:[
							{required:true, message:'请输入用户账号!', trigger:'blur'}
						],
						name:[
							{required:true, message:'请输入用户姓名!', trigger:'blur'}
						],
						pwd:[
							{required:true, message:'请输入用户密码!', trigger:'blur'}
						],
						userrole: [
			            	{ required: true, message: '请选择用户角色', trigger: 'change' }
			          	],
			          	usertype: [
			            	{ required: true, message: '请选择用户类型', trigger: 'change' }
			          	],
						userorg: [
			            	{ required: true, message: '请选择用户组织', trigger: 'change' }
			          	]
					},					
					userData: [],						//用户数据list
				}
			},
			methods:{
				//重置form
				resetForm:function(){
					this.form.id = ''
					this.form.code = ''
					this.form.name = ''
					this.form.pwd = ''
					this.form.userrole = ''
					this.form.usertype = ''
					this.form.userorg = ''
					this.form.status = 1
				},
				//关闭用户维护窗体
				closeUser:function(){
					this.formVisible = false
					this.resetForm()
				},
				//新增用户
				addUser:function(f){
					this.resetForm()
		      		this.formTitle = '新增用户'
					this.formVisible = true
					this.$refs[f].resetFields()
				},
				//编辑用户信息
		      	editUser:function(index, row){
		      		//alert(row.tid)
		      		this.form.id = row.tid
		      		this.form.name = row.name
		      		this.form.status = row.stsStr == '在用' ? 1 : 2
		      		this.formVisible = true
		      		this.formTitle = '修改用户'
		      		this.$refs[form].resetFields()
		      	},
		      	//停用用户
		      	unuseUser:function(index, row){
		      		this.form.id = row.tid
		      		this.form.name = row.name
		      		this.form.status = 2
		      		this.doSaveUser()
		      	},
		      	//启用用户
		      	reuseUser:function(index, row){
		      		this.form.id = row.tid
		      		this.form.name = row.name
		      		this.form.status = 1
		      		this.doSaveUser()
		      	},
				//执行保存用户
				saveUser:function(form) {
			        this.$refs[form].validate(function(valid) {
			          if (valid) {
			            app.doSaveUser()		            
			          } else {
			            console.log('error submit!!')
			            return false;
			          }
			        });
		      	},
		      	//执行保存
		      	doSaveUser:function(){
		      		axios.post('/pm/sys/user/save', {
		            	id:app.form.id,
		            	name:app.form.name,
		            	status:app.form.status,
		            	user:'admin'
		            }).then(function (response) {
		            	var result = response.data
		            	if(result.status == 0)
		            		app.$message({
		            			message:result.message,
		            			type:'warning',
		            			duration:2000,
		            			offset:120
		            		})	
		            	else{
		            		app.formVisible = false
		            		app.getUserData()
		            	}			            		
		            }).catch(function (error) {
		            	alert(error)
		            });
		      	},
		      	//分页
		      	changePage:function(page){
		      		this.page = page
		      		this.getUserData()
		      	},
		      	//获取用户清单数据
		      	getUserData:function(){
		      		axios.get('/pm/sys/user/all', {
		      		    params: {
		      		      page:app.page,
		      		      limit:app.items
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.userData = result.data
		      			app.total = result.number
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
		      	}
			},
			mounted:function(){
				//alert('Mounted!!!')
				this.getUserData()
			}
		});		
	</script>
</body>
</html>