<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统 - 用户信息维护</title>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>
		<div id = "app">
		  	 <el-container>
		  	 	<el-header>
					<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
		  	 	</el-header>
		  	 	<el-main>
		  	 		<el-row type = "flex" :justify = "end" :align = "middle">
		  	 			<el-col :span = "4">
	  	 					<!-- 引入左侧导航栏 -->
							<system-menu location = "用户管理"></system-menu>
		  	 			</el-col>
		  	 			<el-col :span = "13" :offset = "7">
		  	 				<el-form :inline = "true">
		  	 					<el-form-item>
		  	 						<el-switch							  		
									  	v-model="searchtype"
									  	active-text="姓名查找"
									  	inactive-text="账号查找">
									</el-switch>
		  	 					</el-form-item>
		  	 					<el-form-item>
		  	 						<el-input v-model = "searchkey"></el-input>
		  	 					</el-form-item>
		  	 					<el-form-item>
		  	 						<el-button icon = "el-icon-search" round plain type = "success" @click = "getUserData">查找</el-button>
		  	 					</el-form-item>
		  	 					<el-form-item>
		  	 						<el-button icon = "el-icon-plus" round plain type = "primary" @click = "addUser">新增</el-button>
		  	 					</el-form-item>
		  	 				</el-form>		  	 				
		  	 			</el-col>
		  	 		</el-row>
		  	 		<!-- 用户表单窗体 -->
		  	 		<el-dialog :title = "formTitle" :visible.sync = "formVisible" @close = "closeUser" :close-on-click-modal = "false">
  	 					<el-form :model="form" :rules = "rules" ref = "userForm">
  	 						<el-row type = "flex" justify = "center" align = "middle">
  	 							<el-col :span = "12">
  	 								<el-form-item label="用户代码" :label-width="formLabelWidth" prop = "code">
								      <el-input v-model="form.code" autocomplete="off"></el-input>
								    </el-form-item>
  	 							</el-col>
  	 							<el-col :span = "12">
  	 								<el-form-item label="用户名称" :label-width="formLabelWidth" prop = "name">
								      <el-input v-model="form.name" autocomplete="off"></el-input>
								    </el-form-item>
  	 							</el-col>
  	 						</el-row>		  	 						
  	 						<el-row type = "flex" justify = "center" align = "middle">
  	 							<el-col :span = "12">
  	 								<el-form-item label="用户类型" :label-width="formLabelWidth" prop = "usertype">
									  <el-select v-model="form.usertype" placeholder="请选择用户类型" @change="changeType">
									  	<el-option v-for = "type in types" :label="type.view" :value="type.value"></el-option>
									  </el-select>
									</el-form-item>
  	 							</el-col>
  	 							<el-col :span = "12">
  	 								<el-form-item label="用户密码" :label-width="formLabelWidth">
								      <el-input v-model="form.pwd" autocomplete="off" show-password :disabled = "devperson"></el-input>
								    </el-form-item>
  	 							</el-col>
  	 						</el-row>									    
						    <el-row type = "flex" justify = "center" align = "middle">
  	 							<el-col :span = "12">
  	 								<el-form-item label="用户角色" :label-width="formLabelWidth" prop = "userrole">
									  <el-select v-model="form.userrole" placeholder="请选择用户角色">
									  	<el-option v-for = "role in roles" :label="role.view" :value="role.value"></el-option>
									  </el-select>
									</el-form-item>
  	 							</el-col>
  	 							<el-col :span = "12">
  	 								<el-form-item label="用户组织" :label-width="formLabelWidth" prop = "userorg">
									  <el-select v-model="form.userorg" filterable placeholder="请选择用户组织">
									  	<el-option v-for = "org in orgs" :label="org.view" :value="org.value"></el-option>
									  </el-select>
									</el-form-item>
  	 							</el-col>
  	 						</el-row>	
  	 						<el-row type = "flex" justify = "left" align = "middle">
  	 							<el-col :span = "12">
  	 								<el-form-item label="邮箱地址" :label-width="formLabelWidth">
								      <el-input v-model="form.email" autocomplete="off"></el-input>
								    </el-form-item>
  	 							</el-col>
  	 						</el-row>								    									
						 </el-form>
						 <div slot="footer" class="dialog-footer">
						    <el-button @click="closeUser">取 消</el-button>
						    <el-button type="primary" @click="saveUser('userForm')">保存</el-button>
						 </div>
  	 				</el-dialog>
		  	 		<el-row>
		  	 			<el-col :span = "24">
		  	 				<el-table :data="userData" style="width:100%;" :max-height = "height">
		  	 					<!-- 使用 v-if 隐藏列 -->
						      	<el-table-column prop = "tid" v-if = "false"></el-table-column>
						      	<el-table-column prop = "usertype" v-if = "false"></el-table-column>
						      	<el-table-column prop = "userrole" v-if = "false"></el-table-column>
						      	<el-table-column prop = "userorg" v-if = "false"></el-table-column>
						      	<el-table-column prop = "pwd" v-if = "false"></el-table-column>
						      	<el-table-column prop = "code" label = "用户账号"></el-table-column>
						      	<el-table-column prop = "name" label = "用户名称"></el-table-column>
						      	<el-table-column prop = "utStr" label = "用户类型"></el-table-column>
						      	<el-table-column prop = "urStr" label = "用户角色"></el-table-column>
						      	<el-table-column prop = "uoStr" label = "用户组织"></el-table-column>
						      	<el-table-column prop = "email" label = "邮箱地址"></el-table-column>
						      	<el-table-column prop = "stsStr" label = "系统状态"></el-table-column>
						      	<el-table-column label = "操作" width = "200" align = "center">
						      		<template slot-scope="scope">
						      			<el-tooltip style="margin:4px;" effect="light" content="修改" placement="bottom-start">
									        <el-button
									          size="mini"
									          type = "primary"
									          icon = "el-icon-edit"
									          plain
									          :disabled = "scope.row.stsStr == '停用'"
									          @click="editUser(scope.$index, scope.row)">
									        </el-button>
									    </el-tooltip>
								        <el-tooltip style="margin:4px;" effect="light" content="停用" placement="bottom-start">
									        <el-button
									          size="mini"
									          type="warning"
									          icon = "el-icon-close"
									          plain
									          :disabled = "scope.row.stsStr == '停用'"
									          @click="unuseUser(scope.$index, scope.row)">
									        </el-button>
									    </el-tooltip>
								        <el-tooltip style="margin:4px;" effect="light" content="启用" placement="bottom-start">
									        <el-button
									          size="mini"
									          type="success"
									          icon = "el-icon-check"
									          plain
									          :disabled = "scope.row.stsStr == '在用'"
									          @click="reuseUser(scope.$index, scope.row)">
									        </el-button>
									    </el-tooltip>
							      </template>
						      	</el-table-column>
						    </el-table>	
		  	 			</el-col>
		  	 		</el-row>
		  	 		<el-row type = "flex" justify = "end" align = "bottom">
		  	 			<el-col :span = "24">
		  	 				<el-pagination 
		  	 					layout="prev, pager, next" 
		  	 					:total="total" 
		  	 					:page-size="items"
		  	 					@current-change = "changePage"
		  	 					small >
		  	 				</el-pagination>
		  	 			</el-col>
		  	 		</el-row>	
		  	 	</el-main>
		  	 </el-container>		  	 
		</div>
	<script>
		var app = new Vue({
			el:"#app",
			components:{
				SystemMenu
			},
			data:function(){				
				return{
					total:10,							//记录总条数
					items:10,							//每页条数
					page: 1,							//当前页
					height:window.screen.height * 0.55,	//表格最大高度
					formTitle:'新增用户',					//用户窗体标题
					formVisible:false,					//用户窗体显示
					devperson:false,					//是否开发人员
					formLabelWidth:'120px',
					form:{
						id:'',
						code:'',
						name:'',
						pwd:'',
						userrole:'',
						usertype:'',
						userorg:'',
						status:1,
						email:''
					},
					rules:{
						code:[
							{required:true, message:'请输入用户账号!', trigger:'blur'}
						],
						name:[
							{required:true, message:'请输入用户姓名!', trigger:'blur'}
						],
						userrole: [
			            	{ required: true, message: '请选择用户角色', trigger: 'change' }
			          	],
			          	usertype: [
			            	{ required: true, message: '请选择用户类型', trigger: 'change' }
			          	],
						userorg: [
			            	{ required: true, message: '请选择用户组织', trigger: 'change' }
			          	]
					},					
					userData: [],						//用户数据list
					searchkey:'',						//搜索值
					searchtype:true,					//是否按照姓名查找,默认为true,false为按照code查找
					types:[],							//用户类型
					roles:[],							//用户角色
					orgs:[]								//用户组织
				}
			},
			methods:{
				//重置form
				resetFormValues:function(){
					this.form.id = ''
					this.form.code = ''
					this.form.name = ''
					this.form.pwd = ''
					this.form.userrole = ''
					this.form.usertype = ''
					this.form.userorg = ''
					this.form.email = ''
					this.devperson = false
					this.form.status = 1
				},
				//关闭用户维护窗体
				closeUser:function(){					
					this.formVisible = false
					this.resetFormValues()
				},
				//新增用户
				addUser:function(f){					
		      		this.formTitle = '新增用户'
					this.formVisible = true
					this.$refs['userForm'].resetFields()
					this.resetFormValues()
				},
				changeType:function(){
					this.devperson = this.form.usertype == 1 ? true : false
				},
				//编辑用户信息
		      	editUser:function(index, row){
		      		/*alert("User code is : "+row.code)
		      		alert("User name is : "+row.name)
		      		alert("User pwd is : "+row.pwd)
		      		alert("User type is : "+row.usertype)
		      		alert("User org is : "+row.userorg)
		      		alert("User role is : "+row.userrole)*/
		      		this.formVisible = true
		      		this.formTitle = '修改用户'
		      		this.form.id = row.tid
		      		this.form.code = row.code
		      		this.form.pwd = row.pwd
		      		this.form.name = row.name
		      		this.form.usertype = row.usertype+''
		      		this.devperson = row.usertype == 1 ? true : false
		      		this.form.userrole = row.userrole
		      		this.form.userorg = row.userorg
		      		this.form.email = row.email
		      		this.$refs['userForm'].clearValidate()
		      	},
		      	//停用用户
		      	unuseUser:function(index, row){
		      		this.form.id = row.tid
		      		this.form.status = 2
		      		this.doSaveUser('status')
		      	},
		      	//启用用户
		      	reuseUser:function(index, row){
		      		this.form.id = row.tid
		      		this.form.status = 1
		      		this.doSaveUser('status')
		      	},
				//执行保存用户
				saveUser:function(form) {
			        this.$refs[form].validate(function(valid) {
			          if (valid) {
			            app.doSaveUser('save')		            
			          } else {
			            console.log('error submit!!')
			            return false;
			          }
			        });
		      	},
		      	//执行保存
		      	doSaveUser:function(action){
		      		var url = ''
		      		var params = {}
		      		if(action == 'save'){
		      			url = '/pm/sys/user/save'
		      			params = {
			            	id:app.form.id,
			            	code:app.form.code,
			            	name:app.form.name,
			            	userrole:app.form.userrole,
			            	usertype:app.form.usertype,
			            	userorg:app.form.userorg,
			            	status:app.form.status,
			            	pwd:app.form.pwd,
			            	email:app.form.email,
			            	user:'admin'
			            }
		      		}		      		
		      		if(action == 'status'){
		      			url = '/pm/sys/user/status'
	      				params = {
			            	id:app.form.id,
			            	status:app.form.status,
			            	user:'admin'
			            }
		      		}
		      		axios.post(url,	params).then(function (response) {
		            	var result = response.data
		            	if(result.status == 0)
		            		app.$message({
		            			message:result.message,
		            			type:'warning',
		            			duration:2000,
		            			offset:120
		            		})	
		            	else{		            		
		            		app.formVisible = false
		            		app.getUserData()		            		
		            	}			            		
		            }).catch(function (error) {
		            	alert(error)
		            });
		      	},
		      	//分页
		      	changePage:function(page){
		      		this.page = page
		      		this.getUserData()
		      	},
		      	//获取用户清单数据
		      	getUserData:function(){
		      		axios.get('/pm/sys/user/query', {
		      		    params: {
		      		      page:app.page,
		      		      limit:app.items,
		      		      name:app.searchtype ? app.searchkey : '',
		      		      code:app.searchtype ? '' : app.searchkey
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.userData = result.data
		      			app.total = result.number
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
		      	},
		      	//获取用户类型数据
		      	getUserType:function(){
		      		axios.get('/pm/sys/enum/options', {
		      		    params: {
		      		      code:'D001'
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.types = result.data
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
		      	},
		      	//获取系统角色数据
		      	getRoles:function(){
		      		axios.get('/pm/sys/role/items', {
		      		    params: {
		      		      
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.roles = result.data
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
		      	}
		      	,
		      	//获取系统组织数据
		      	getOrgs:function(){
		      		axios.get('/pm/sys/org/items', {
		      		    params: {
		      		      
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.orgs = result.data
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
		      	}
			},
			mounted:function(){
				//alert('Mounted!!!')
				this.getUserData()
				this.getUserType()
				this.getRoles()
				this.getOrgs()
			}
		});		
	</script>
</body>
</html>