<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统 - 角色信息维护</title>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>
	<div id = "app">
	  	 <el-container>
	  	 	<el-header>
				<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
	  	 	</el-header>
	  	 	<el-main>
	  	 		<el-row type = "flex" justify = "center" align = "middle">
	  	 			<!--el-col :span = "4">
	  	 				<el-button type = "info" icon = "el-icon-menu" circle plain></el-button>
	  	 			</el-col-->
	  	 			<el-col :span = "2" :offset = "22">
	  	 				<el-button type = "primary" icon = "el-icon-plus" round plain @click = "addRole('roleForm')" size = "small">新增</el-button>
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row>
	  	 			<el-col :span = "24">
	  	 				<el-table :data="roleData" style="width:100%;" :max-height = "height">
	  	 					<!-- 使用 v-if 隐藏列 -->
					      	<el-table-column prop = "tid" label = "ID" v-if = "false"></el-table-column>
					      	<el-table-column prop = "rolename" label = "角色名称"></el-table-column>
					      	<el-table-column prop = "stsStr" label = "系统状态"></el-table-column>
					      	<el-table-column label = "操作" width = "300">
					      		<template slot-scope="scope">
					      			<el-tooltip style="margin:4px;" effect="light" content="修改" placement="bottom-start">
								        <el-button
								          size="mini"
								          type = "primary"
								          icon = "el-icon-edit"
								          plain
								          :disabled = "scope.row.stsStr == '停用'"
								          @click="editRole(scope.$index, scope.row)">
								         </el-button>
								    </el-tooltip>
								    <el-tooltip style="margin:4px;" effect="light" content="菜单权限" placement="bottom-start">
								        <el-button
								          size="mini"
								          type = "primary"
								          icon = "el-icon-menu"
								          plain
								          :disabled = "scope.row.stsStr == '停用'"
								          @click="roleMenu(scope.$index, scope.row)">
								        </el-button>
								    </el-tooltip>
								    <el-tooltip style="margin:4px;" effect="light" content="停用" placement="bottom-start">
								        <el-button
								          size="mini"
								          type="warning"
								          icon = "el-icon-close"
								          plain
								          :disabled = "scope.row.stsStr == '停用'"
								          @click="unuseRole(scope.$index, scope.row)">
								        </el-button>
								    </el-tooltip>
								    <el-tooltip style="margin:4px;" effect="light" content="启用" placement="bottom-start">
								        <el-button
								          size="mini"
								          type="success"
								          icon = "el-icon-check"
								          plain
								          :disabled = "scope.row.stsStr == '在用'"
								          @click="reuseRole(scope.$index, scope.row)">
								        </el-button>
								    </el-tooltip>
						      </template>
					      	</el-table-column>
					    </el-table>	
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row type = "flex" justify = "end" align = "bottom">
	  	 			<el-col :span = "24">
	  	 				<el-pagination 
	  	 					layout="prev, pager, next" 
	  	 					:total="total" 
	  	 					:page-size="items"
	  	 					@current-change = "changePage"
	  	 					small >
	  	 				</el-pagination>
	  	 			</el-col>
	  	 		</el-row>
	  	 		<!-- 角色维护窗体 -->
	  	 		<el-dialog :title = "formTitle" :visible.sync = "formVisible" @close = "closeRole" :close-on-click-modal = "false">
 					<el-form :model="form" :rules = "rules" ref = "roleForm">
					    <el-form-item label="角色名称" :label-width="formLabelWidth" prop = "rolename">
					      <el-input v-model="form.rolename" autocomplete="off"></el-input>
					    </el-form-item>
				 	</el-form>
				 	<div slot="footer" class="dialog-footer">
				    	<el-button @click="closeRole">取 消</el-button>
				    	<el-button type="primary" @click="saveRole('roleForm')">保存</el-button>
				 	</div>
 				</el-dialog>	
 				<el-dialog title = "权限维护" :visible.sync = "menuVisible" :close-on-click-modal = "false">
 					<el-table :data="menuData" style="width:100%;" :max-height = "height" @row-click="handleTrChange" @selection-change="handleSelectionChange" ref="menuList">
 					 	<el-table-column type="selection" width="55"></el-table-column>
  	 					<!-- 使用 v-if 隐藏列 -->
				      	<el-table-column prop = "tid" label = "ID" v-if = "false"></el-table-column>
				      	<el-table-column prop = "menuname" label = "菜单名称"></el-table-column>
				    </el-table>	
				 	<div slot="footer" class="dialog-footer">
				    	<el-button @click="menuVisible=!menuVisible">取 消</el-button>
				    	<el-button type="primary" @click="saveAuth()">保存</el-button>
				 	</div>
 				</el-dialog>	
	  	 	</el-main>
	  	 </el-container>		  	 
	</div>
	<script type = "text/javascript" th:src = "@{/static/js/sys/role/app.js}" charset="UTF-8"></script>
</body>
</html>