<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统</title>
	<style>
	  	.el-row {
	    margin-bottom: 20px;
	    &:last-child {
	      margin-bottom: 0;
	    }
	  }
	  .el-col {
	    border-radius: 4px;
	  }
	  .bg-purple-dark {
	    background: #99a9bf;
	  }
	  .bg-purple {
	    background: #d3dce6;
	  }
	  .bg-purple-light {
	    background: #e5e9f2;
	  }
	  .grid-content {
	    border-radius: 4px;
	    min-height: 36px;
	  }
	  .row-bg {
	    padding: 10px 0;
	    background-color: #f9fafc;
	  }
</style>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>		
	<el-container id = "home">
		<el-header style = "margin-bottom:10px;">
			<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
		</el-header>
		<el-container>
		      
		</el-container>		  	 	
	</el-container>
	<script>
		var vm = new Vue({
			el:"#home",
			data:function(){				
				return {
					
				}
			},
			methods:{
				
			},
			created:function(){
				//alert('Created...');
			},
			mounted:function(){
				//alert('Mounted!!!')
			}
		});		
	</script>
</body>
</html>