<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统</title>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>		
	<el-container id = "home">
		<el-header style = "margin-bottom:10px;">
			<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
		</el-header>
		<el-main>
			<el-row type = "flex" :justify = "end" :align = "middle">
  	 			<el-col :span = "4">
 	 				<!-- 引入左侧导航栏 -->
					<system-menu location = "Home"></system-menu>
  	 			</el-col>
	  	 	</el-row>
	  	 	<el-row type = "flex" :justify = "end" :align = "middle">
  	 			<el-col :span = "24">
 	 				<program-chart></program-chart>
  	 			</el-col>
	  	 	</el-row>
		</el-main>		  	 	
	</el-container>
	<script>
		var vm = new Vue({
			el:"#home",
			components:{
				SystemMenu,
				ProgramChart
			},
			data:function(){				
				return {
					
				}
			},
			methods:{
				
			},
			created:function(){
				//alert('Created...');
			},
			mounted:function(){
				//alert('Mounted!!!')
			}
		});		
	</script>
</body>
</html>