<!DOCTYPE html>
<!-- 新增 / 修改issue信息 -->
<html xmlns:th="http://www.thymeleaf.org">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<div th:fragment="issue_edit()">
		<!-- 项目表单窗体 -->
 		<el-dialog :title = "formTitle" width = "60%" :visible.sync = "formVisible" @close = "closeIssue" :close-on-click-modal = "false">
			<el-form :model="form" :rules = "rules" ref = "issueForm">
				<el-row type = "flex" justify = "center" align = "middle">
					<el-col :span = "12">
						<el-form-item label="Issue类型" :label-width="formLabelWidth" prop = "issuetype">
		      				<el-select v-model="form.issuetype" placeholder="请选择">
							    <el-option v-for = "type in types" :label="type.view" :value="type.value" :key="type.value"></el-option>
							</el-select>
		    			</el-form-item>
					</el-col>
					<el-col :span = "12">
						<el-form-item label="Issue等级" :label-width="formLabelWidth" prop = "issuegrade">
		      				<el-select v-model="form.issuegrade" placeholder="请选择">
							    <el-option v-for = "grade in grades" :label="grade.view" :value="grade.value" :key="grade.value"></el-option>
							</el-select>
		    			</el-form-item>
					</el-col>
				</el-row>	
				<el-row type = "flex" justify = "center" align = "middle">
					<el-col :span = "12">
						<el-form-item label="处理人员" :label-width="formLabelWidth" prop = "handler">
		      				<el-select v-model="form.handler" placeholder="请选择">
							    <el-option v-for = "m in gm" :label="m.name" :value="m.code" :key="m.code"></el-option>
							</el-select>
		    			</el-form-item>
					</el-col>
					<el-col :span = "12">
						<el-form-item label="Issue状态" :label-width="formLabelWidth" prop = "state">
		      				<el-select v-model="form.state" placeholder="请选择">
							    <el-option v-for = "state in states" :label="state.view" :value="state.value" :key="state.value"></el-option>
							</el-select>
		    			</el-form-item>
					</el-col>
				</el-row>	
				<el-row type = "flex" justify = "center" align = "middle">
					<el-col :span = "24">
						<el-form-item label="Issue描述" :label-width="formLabelWidth" prop = "issueremark">
		      				<el-input type = "textarea" :rows="5" autosize v-model="form.issueremark" autocomplete="off"></el-input>
		    			</el-form-item>
					</el-col>
				</el-row>		  	 						
				<el-row type = "flex" justify = "center" align = "middle">
					<el-col :span = "12">
						<el-form-item label="开始日期" :label-width="formLabelWidth" prop = "startdate">
						  <el-date-picker
						      v-model="form.startdate"
						      type="date"
						      placeholder="选择日期"
						      value-format = "yyyy-MM-dd">
						  </el-date-picker>
						</el-form-item>
					</el-col>
					<el-col :span = "12">
						<el-form-item label="结束日期" :label-width="formLabelWidth" prop = "enddate">
						  <el-date-picker
						      v-model="form.enddate"
						      type="date"
						      placeholder="选择日期"
						      value-format = "yyyy-MM-dd">
						  </el-date-picker>
						</el-form-item>
					</el-col>
				</el-row>									    
				<el-row type = "flex" justify = "left" align = "middle">
					<el-col :span = "10">
						<el-form-item label="合同金额" :label-width="formLabelWidth" prop = "amount">
	      					<el-input v-model="form.amount" autocomplete="off"><template slot="append">￥</template></el-input>
	    				</el-form-item>
					</el-col>
				</el-row>								    									
			 </el-form>
			 <div slot="footer">
			    <el-button @click="closeIssue">取 消</el-button>
			    <el-button type="primary" @click="saveIssue('issueForm')">保存</el-button>
			 </div>
		</el-dialog>
	</div>
</html>