<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统 - Issue事项</title>
	<!--link rel = "stylesheet" th:href = "@{/static/quill/css/quill.core.css}" media="screen"/>
	<link rel = "stylesheet" th:href = "@{/static/quill/css/quill.snow.css}" media="screen"/>
	<link rel = "stylesheet" th:href = "@{/static/quill/css/quill.bubble.css}" media="screen"/-->
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})">
		<!--script type = "text/javascript" th:src = "@{/static/quill/js/quill.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/static/quill/js/vue-quill-editor.js}" charset="UTF-8"></script>
		<script type = "text/javascript" th:src = "@{/static/ckeditor/ckeditor.js}" charset="UTF-8"></script-->
	</div>
	<div id = "app">
	  	 <el-container>
	  	 	<el-header>
				<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
	  	 	</el-header>
	  	 	<el-main>
	  	 		<el-row type = "flex" :justify = "end" :align = "middle">
	  	 			<el-col :span = "10" :offset = "14">
	  	 				<el-form :inline = "true">
	  	 					<el-form-item width = "200">
	  	 						<el-select v-model="proId" placeholder="请选择项目" @change = "changePro" style = "width:300px">
			  						<el-option v-for = "pro in prolist" :label="pro.name" :value="pro.tid"></el-option>
			  					</el-select>
	  	 					</el-form-item>
	  	 					<!--el-form-item>
	  	 						<el-button icon = "el-icon-search" round plain type = "success" @click = "getProData">查找</el-button>
	  	 					</el-form-item-->
	  	 					<el-form-item>
	  	 						<el-button icon = "el-icon-plus" round plain type = "primary" @click = "addIssue">新增</el-button>
	  	 					</el-form-item>
	  	 				</el-form>		  	 				
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row>
	  	 			<el-col :span = "24">
	  	 				<el-table :data="issueData" style="width:100%;" :max-height = "height">
	  	 					<!-- 使用 v-if 隐藏列 -->
					      	<el-table-column prop = "tid" v-if = "false"></el-table-column>
					      	<el-table-column prop = "programid" v-if = "false"></el-table-column>
					      	<el-table-column prop = "program" label = "项目所属"></el-table-column>
					      	<el-table-column prop = "issuetype" v-if = "false"></el-table-column>
					      	<el-table-column prop = "type" label = "Issue类型"></el-table-column>
					      	<el-table-column prop = "issuegrade" v-if = "false"></el-table-column>
					      	<el-table-column prop = "grade" label = "紧急度"></el-table-column>
					      	<el-table-column prop = "handler" label = "处理人员"></el-table-column>
					      	<el-table-column prop = "state" v-if = "false"></el-table-column>
					      	<el-table-column prop = "stateStr" label = "Issue状态"></el-table-column>
					      	<el-table-column label = "操作" width = "150" align = "center">
					      		<template slot-scope="scope">
							        <el-button
							          size="mini"
							          type = "primary"
							          icon = "el-icon-edit"
							          plain
							          @click="editPro(scope.$index, scope.row)"></el-button>
							        <el-button
							          size="mini"
							          type="success"
							          plain
							          @click="proInvoice(scope.$index, scope.row)"><i class = "fa fa-list"></i></el-button> 
						      </template>
					      	</el-table-column>
					    </el-table>	
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row type = "flex" justify = "end" align = "bottom">
	  	 			<el-col :span = "24">
	  	 				<el-pagination 
	  	 					layout="prev, pager, next" 
	  	 					:total="total" 
	  	 					:page-size="items"
	  	 					@current-change = "changePage"
	  	 					small >
	  	 				</el-pagination>
	  	 			</el-col>
	  	 		</el-row>
	  	 		<!-- issue新增/修改 -->
	  	 		<div th:include="/biz/pro/issue/edit::issue_edit()"></div>
	  	 	</el-main>
	  	 </el-container>	  	  		  	 
	</div>
	
	<script>
		var app = new Vue({
			el:"#app",
			data:function(){	
				return{
					total:10,							//记录总条数
					items:10,							//每页条数
					page: 1,							//当前页
					height: window.screen.height * 0.55,//表格最大高度
					formTitle:'新增Issue',				//项目窗体标题
					formVisible: false,					//项目窗体显示
					proId: '',							//项目UUID	
					formLabelWidth:'150px',
					form:{
						id:'',
						issuetype:'1',
						issuegrade:'1',
						issueremark:'',
						state:'1',
						handler:'',
						//startdate:'',
						finishdate:''
					},
					rules:{
						issuetype:[
							{required:true, message:'请选择issue类型!', trigger:'blur'}
						],
						issuegrade:[
							{required:true, message:'请选择issue等级!', trigger:'blur'}
						],
						state:[
							{required:true, message:'请选择issue状态!', trigger:'blur'}
						],
						issueremark:[
							{required:true, message:'请输入issue描述!', trigger:'blur'}
						],
						handler: [
			            	{ required: true, message: '请选择处理人员!', trigger: 'blur' }
			          	],
			          	//startdate: [
			            //	{ required: true, message: '请选择Issue处理开始日期', trigger: 'blur' }
			          	//],
			          	finishdate: [
			            	{ required: true, message: '请选择邀请完成日期!', trigger: 'blur' }
			          	]
					},		
					prolist: [],	//项目list
					issueData:[],	//项目issue list
					types:[],		//issue类型
					grades:[],		//issue等级
					states:[],		//issue状态
					gm:[]			//项目组人员
				}
			},
			methods:{
				//重置form
				resetFormValues:function(){
					this.form.id = ''
					this.form.issuetype = '1'
					this.form.issuegrade = '1'
					this.form.issueremark = ''
					this.form.state = '1'
					this.form.handler = ''
					this.form.startdate = ''
					this.form.finishdate = ''
				},
				changePro:function(){
					//alert(this.proId)
					//重新获取issue清单
					this.getIssueData()
				},
				//关闭issue维护窗体
				closeIssue:function(){					
					this.formVisible = false
					this.resetFormValues()
				},
				//新增issue事项
				addIssue:function(f){
					//重新获取项目组人员清单
					this.getGroupMember(this.proId)
		      		this.formTitle = '新增Issue'
					this.formVisible = true
					this.$refs['issueForm'].resetFields()
					this.resetFormValues()
				},
				//获取issue清单数据
		      	getIssueData:function(){
		      		axios.get('/pm/biz/pro/issue/query', {
		      		    params: {
		      		      page:app.page,
		      		      limit:app.items,
		      		      proId:app.proId
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.issueData = result.data
		      			app.total = result.number
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
		      	},
				//执行保存项目
				saveIssue:function(form) {
			        this.$refs[form].validate(function(valid) {
			        	if (valid) {
			        		axios.post('/pm/biz/pro/issue/save',	{
				            	id:app.form.id,
				            	programid:app.proId,
				            	issuetype:app.form.issuetype,
				            	issuegrade:app.form.issuegrade,
				            	issueremark:app.form.issueremark,
				            	handler:app.form.handler,
				            	state:app.form.state,
				            	finishdate:app.form.finishdate,
				            	user:'admin'
				            }).then(function (response) {
				            	var result = response.data
				            	if(result.status == 0)
				            		app.$message({
				            			message:result.message,
				            			type:'warning',
				            			duration:2000,
				            			offset:120
				            		})	
				            	else{		            		
				            		app.formVisible = false
				            		//app.getProData()		            		
				            	}			            		
				            }).catch(function (error) {
				            	app.$message({
			            			message:result.message,
			            			type:'danger',
			            			duration:2000,
			            			offset:120
			            		})	
				            });
			        	}else{
			            	console.log('error submit!!')
			            	return false;
			            }
			        });
		      	},
				//获取issue项目下拉清单数据
				getProList:function(){
		      		axios.get('/pm/biz/pro/issue/prolist', {
		      		    params: {
		      		    	
		      		    }
		      		}).then(function (response) {
		      			var result = response.data	
		      			app.prolist = result.data
		      			//赋默认值
		      			app.proId = app.prolist.length == 0 ? "" : app.prolist[0].tid
						//获取issue清单数据
						app.getIssueData()
		      		    console.log(response)
		      		}).catch(function (error) {
		      			alert("error")
		      		    console.log(error)
		      		})
				},
				//获取issue类型下拉列表
	      		getTypes:function(){
		      		axios.get('/pm/sys/enum/options', {
		      		    params: {
		      		      code:'D007'
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.types = result.data
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
	      		},
	      		//获取issue等级下拉列表
	      		getGrades:function(){
		      		axios.get('/pm/sys/enum/options', {
		      		    params: {
		      		      code:'D008'
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.grades = result.data
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
	      		},
	      		//获取issue状态下拉列表
	      		getStates:function(){
		      		axios.get('/pm/sys/enum/options', {
		      		    params: {
		      		      code:'D009'
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.states = result.data
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
	      		},
	      		getGroupMember:function(){
	      			//alert('App pro id is :'+app.proId)
	      			axios.get('/pm/biz/pro/issue/gm', {
		      		    params: {
		      		    	proId:app.proId
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			//alert(result.data)
		      			app.gm = result.data
		      		    console.log(response)
		      		}).catch(function (error) {
		      			alert("error")
		      		    console.log(error)
		      		})
	      		}
			},
			mounted:function(){
				//alert('Mounted!!!')
				this.getProList()
				this.getTypes()
				this.getGrades()
				this.getStates()
			}
		});		
	</script>
</body>
</html>