<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统 - Issue事项</title>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>
		<div id = "app">
		  	 <el-container>
		  	 	<el-header>
					<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
		  	 	</el-header>
		  	 	<el-main>
		  	 		<el-row type = "flex" :justify = "end" :align = "middle">
		  	 			<el-col :span = "10" :offset = "14">
		  	 				<el-form :inline = "true">
		  	 					<el-form-item width = "200">
		  	 						<el-select v-model="proId" placeholder="请选择项目" @change = "changePro" style = "width:300px">
				  						<el-option v-for = "pro in prolist" :label="pro.name" :value="pro.tid"></el-option>
				  					</el-select>
		  	 					</el-form-item>
		  	 					<!--el-form-item>
		  	 						<el-button icon = "el-icon-search" round plain type = "success" @click = "getProData">查找</el-button>
		  	 					</el-form-item-->
		  	 					<el-form-item>
		  	 						<el-button icon = "el-icon-plus" round plain type = "primary" @click = "addPro">新增</el-button>
		  	 					</el-form-item>
		  	 				</el-form>		  	 				
		  	 			</el-col>
		  	 		</el-row>
		  	 		<el-row>
		  	 			<el-col :span = "24">
		  	 				<el-table :data="proData" style="width:100%;" :max-height = "height">
		  	 					<!-- 使用 v-if 隐藏列 -->
						      	<el-table-column prop = "tid" v-if = "false"></el-table-column>
						      	<el-table-column prop = "code" label = "项目编号"></el-table-column>
						      	<el-table-column prop = "name" label = "项目名称"></el-table-column>
						      	<el-table-column prop = "contractno" label = "合同编号"></el-table-column>
						      	<el-table-column prop = "prno" label = "PR编号"></el-table-column>
						      	<el-table-column prop = "startdate" label = "开始日期"></el-table-column>
						      	<el-table-column prop = "enddate" label = "结束日期"></el-table-column>
						      	<el-table-column label = "操作" width = "250" align = "center">
						      		<template slot-scope="scope">
								        <el-button
								          size="mini"
								          type = "primary"
								          icon = "el-icon-edit"
								          plain
								          @click="editPro(scope.$index, scope.row)"></el-button>
								        <el-button
								          size="mini"
								          type="success"
								          plain
								          @click="proInvoice(scope.$index, scope.row)"><i class = "fa fa-list"></i></el-button> 
							      </template>
						      	</el-table-column>
						    </el-table>	
		  	 			</el-col>
		  	 		</el-row>
		  	 		<el-row type = "flex" justify = "end" align = "bottom">
		  	 			<el-col :span = "24">
		  	 				<el-pagination 
		  	 					layout="prev, pager, next" 
		  	 					:total="total" 
		  	 					:page-size="items"
		  	 					@current-change = "changePage"
		  	 					small >
		  	 				</el-pagination>
		  	 			</el-col>
		  	 		</el-row>
		  	 		<!-- issue新增/修改 -->
		  	 		<div th:include="/biz/pro/main/edit::pro_edit()"></div>
		  	 	</el-main>
		  	 </el-container>		  	 
		</div>
	<script>
		var app = new Vue({
			el:"#app",
			data:function(){	
				return{
					total:10,							//记录总条数
					items:10,							//每页条数
					page: 1,							//当前页
					height:window.screen.height * 0.55,	//表格最大高度
					formTitle:'新增Issue',				//项目窗体标题
					formVisible:false,					//项目窗体显示
					proId:'',							//项目UUID	
					formLabelWidth:'120px',
					form:{
						id:'',
						code:'',
						name:'',
						remark:'',
						startdate:'',
						enddate:'',
						amount:'',
						contractno:'',
						prno:''
					},
					rules:{
						name:[
							{required:true, message:'请输入项目名称!', trigger:'blur'}
						],
						contractno:[
							{required:true, message:'请输入合同编号!', trigger:'blur'}
						],
						prno:[
							{required:true, message:'请输入PR编号!', trigger:'blur'}
						],
						remark:[
							{required:true, message:'请输入项目描述!', trigger:'blur'}
						],
						startdate: [
			            	{ required: true, message: '请选择项目开始日期', trigger: 'blur' }
			          	],
			          	enddate: [
			            	{ required: true, message: '请选择项目结束日期', trigger: 'blur' }
			          	],
			          	amount: [
			            	{ required: true, message: '请输入项目金额', trigger: 'blur' }
			          	]
					},		
					prolist: []						//项目list
				}
			},
			methods:{
				//获取issue项目下拉清单数据
				getProList:function(){
		      		axios.get('/pm/biz/pro/issue/prolist', {
		      		    params: {
		      		    	
		      		    }
		      		}).then(function (response) {
		      			var result = response.data	
		      			app.prolist = result.data
		      		    console.log(response)
		      		}).catch(function (error) {
		      			alert("error")
		      		    console.log(error)
		      		})
				},
				changePro:function(){
					//alert(this.proId)
				}
			},
			mounted:function(){
				//alert('Mounted!!!')
				this.getProList()
			}
		});		
	</script>
</body>
</html>