<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统 - SVN</title>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>
	<div id = "app">
	  	 <el-container>
	  	 	<el-header>
				<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
	  	 	</el-header>
	  	 	<el-main>
	  	 		<el-row type = "flex" :justify = "end" :align = "middle">
	  	 			<el-col :span = "4">
	  	 				<!-- 引入左侧导航栏 -->
						<system-menu location = "SVN文档"></system-menu>
	  	 			</el-col>
	  	 			<el-col :span = "10" :offset = "10">
	  	 				<el-form :inline = "true">
	  	 					<el-form-item width = "200">
	  	 						<el-select v-model="proId" placeholder="请选择项目" @change = "changePro" style = "width:300px">
			  						<el-option v-for = "pro in prolist" :label="pro.name" :value="pro.tid"></el-option>
			  					</el-select>
	  	 					</el-form-item>	  	 					
	  	 				</el-form>		  	 				
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row type = "flex" :justify = "end" :align = "middle">
	  	 			<el-col :span = "24" v-show = "show">
	  	 				<el-alert
						    :title="message"
						    type="error"
						    effect="dark"
						    show-icon>
						 </el-alert>
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-row type = "flex" :justify = "end" :align = "middle">
	  	 			<el-col :span = "24" v-show = "!show">
	  	 				<el-table
						    :data="tableData"
						    style="width: 100%"
						    row-key="id"
						    border
						    lazy
						    :load="load"
						    :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
						    <el-table-column
						      prop="name"
						      label="文档目录">
						    </el-table-column>
						    <el-table-column
						      prop="path"
						      label="路径"
						      v-if = "false">
						    </el-table-column>
						    <el-table-column label = "操作" width = "250" align = "center">
					      		<template slot-scope="scope">
					      			<el-tooltip style="margin:4px;" effect="light" content="创建文件夹" placement="bottom-start">
									      <el-button
									          size="mini"
									          type="warning"
									          icon = "el-icon-folder-add"
									          plain
									          :disabled = "scope.row.hasChildren == false"
									          @click="folder(scope.$index, scope.row)">
									       </el-button>
									</el-tooltip>
					      			<el-tooltip style="margin:4px;" effect="light" content="上传" placement="bottom-start">
								        <el-button
								          size="mini"
								          type = "primary"
								          icon = "el-icon-upload2"
								          plain
								          :disabled = "scope.row.hasChildren == false"
								          @click="upload(scope.$index, scope.row)">
								        </el-button>
							        </el-tooltip>
							        <el-tooltip style="margin:4px;" effect="light" content="下载" placement="bottom-start">
								        <el-button
								          size="mini"
								          type="success"
								          icon = "el-icon-download"
								          plain
								          :disabled = "scope.row.hasChildren == true"
								          @click="download(scope.$index, scope.row)">
								      	</el-button>
								    </el-tooltip>
									<el-tooltip style="margin:4px;" effect="light" content="删除" placement="bottom-start">
								        <el-button
								          size="mini"
								          type="danger"
								          icon = "el-icon-delete"
								          plain
								          @click="doDelete(scope.$index, scope.row)">
								        </el-button>
								     </el-tooltip> 
						      </template>
					      	</el-table-column>
						</el-table>
	  	 			</el-col>
	  	 		</el-row>
	  	 		<el-dialog :title = "formTitle" :visible.sync = "formVisible" @close = "closeDialog" :close-on-click-modal = "false">
 					<el-form :model="form" :rules = "rules" ref = "svnForm">
	 					<el-row type = "flex" justify = "center" align = "middle">
	 						<el-col :span = "24">
	 							<el-form-item label="文件夹" :label-width="formLabelWidth" prop = "name">
						   			<el-input v-model="form.name" autocomplete="off"></el-input>
					    		</el-form-item>
	 						</el-col>
	 					</el-row>		  	 						
					 </el-form>
					 <div slot="footer" class="dialog-footer">						    
					    <el-button type="primary" @click="createFolder('svnForm')">创建</el-button>
					    <el-button @click="closeDialog">取 消</el-button>
					 </div>
 				</el-dialog>
 				<el-dialog title = "上传文件" :visible.sync = "fileFormVisible" :close-on-click-modal = "false">
 					<input type="file" class = "form-control" name = "file" id = "file" @change="doUpload"/>
 				</el-dialog>
			</el-main>
	  	 </el-container>	  	  		  	 
	</div>	
	<script>		
		var app = new Vue({
			el:"#app",
			components:{
				SystemMenu
			},
			data:function(){	
				return{
					proId: '',			//项目UUID	
					prolist: [],		//项目list
					message:'',			//SVN获取返回信息
					show:false,				
					tableData:[],
					formVisible:false,
					fileFormVisible:false,
					formTitle:'新增目录',	//用户窗体标题
					form:{
						name:''
					},
					rules:{
						name:[
							{required:true, message:'请输入目录!', trigger:'blur'}
						],
					},
					svnPath:''
				}
			},
			methods:{				
				changePro:function(){
					//alert(this.proId)
					//获取svn子文档清单
					this.getSvnDocuments('/','0')
				},				
				//获取issue项目下拉清单数据
				getProList:function(){
		      		axios.get('/pm/biz/pro/svn/prolist', {
		      		    params: {
		      		    	
		      		    }
		      		}).then(function (response) {
		      			var result = response.data	
		      			app.prolist = result.data
		      			//赋默认值
		      			app.proId = app.prolist.length == 0 ? "" : app.prolist[0].tid
		      			//获取SVN根节点
						app.getSvnDocuments('/', '0')
		      		    console.log(response)
		      		}).catch(function (error) {
		      			alert("error")
		      		    console.log(error)
		      		})
				},
				//获取svn路径 path：svn相对路径，id：树几点id, proId：项目id
				getSvnDocuments:function(path, id){
					axios.get('/pm/biz/pro/svn/docs', {
		      		    params: {
		      		    	path:path,
		      		    	id:id,
		      		    	proId:app.proId
		      		    }
		      		}).then(function (response) {
		      			var result = response.data	
		      			if(result.status == 200){
		      				app.show = false
		      				app.tableData = result.data
		      			}else{
		      				app.show = true
		      				app.message = result.message
		      			}
		      		    console.log(response)
		      		}).catch(function (error) {
		      			alert("error")
		      		    console.log(error)
		      		})
				},
				//关闭用户维护窗体
				closeDialog:function(){					
					this.formVisible = false
					this.form.name = ''
				},
				folder:function(index, row){
					this.formVisible = true
					this.svnPath = row.path
				},
				createFolder:function(form){
					this.$refs[form].validate(function(valid) {
			          if (valid) {
			        	  axios.get('/pm/biz/pro/svn/mkdir', {
				      		    params: {
				      		    	path:app.svnPath,
				      		    	folder:app.form.name
				      		    }
				      		}).then(function (response) {
				      			var result = response.data	
				      			if(result.status == 200){
				      				app.$message({
				            			message:'目录创建成功!',
				            			type:'success',
				            			duration:1000,
				            			offset:120,
				            			onClose:function(){
				            				app.closeDialog()
				            				app.getSvnDocuments('/','0')
				            			}
				            		})	
				      			}else{
				      				app.$message({
				            			message:result.message,
				            			type:'warning',
				            			duration:2000,
				            			offset:120
				            		})	
				      			}
				      		    console.log(response)
				      		}).catch(function (error) {
				      			alert("error")
				      		    console.log(error)
				      		})            
			          } else {
			            console.log('error submit!!')
			            return false;
			          }
			        });
				},
				download:function(index, row){
					axios.get('/pm/biz/pro/svn/checkout', {
		      		    params: {
		      		    	path:row.path,
		      		    	action:'download'
		      		    }
		      		}).then(function (response) {
		      			var result = response.data	
		      			if(result.status == 200){
		      				//动态form实现下载
		      				var form = $("<form method='post' action='/pm/biz/pro/svn/download'>")
		                    $('body').append(form)
		                    form.submit()
		      			}else{
		      				app.$message({
		            			message:result.message,
		            			type:'warning',
		            			duration:2000,
		            			offset:120
		            		})	
		      			}
		      		    console.log(response)
		      		}).catch(function (error) {
		      			alert("error")
		      		    console.log(error)
		      		})  
				},
				upload:function(index, row){
					axios.get('/pm/biz/pro/svn/checkout', {
		      		    params: {
		      		    	path:row.path,
		      		    	action:'upload'
		      		    }
		      		}).then(function (response) {
		      			var result = response.data	
		      			if(result.status == 200){
		      				app.fileFormVisible = true
		      			}else{
		      				app.$message({
		            			message:result.message,
		            			type:'warning',
		            			duration:2000,
		            			offset:120
		            		})	
		      			}
		      		    console.log(response)
		      		}).catch(function (error) {
		      			alert("error")
		      		    console.log(error)
		      		})  
				},
				doUpload:function(e){
					var file = e.target.files[0]
					var form = new FormData()
					form.append('file', file)
					var config = {'Content-Type':'multipart/form-data'}
					axios.post('/pm/biz/pro/svn/upload', form, config)
						.then(function (response) {
							var result = response.data	
			      			if(result.status == 200){
			      				app.$message({
			            			message:'文件上传成功!',
			            			type:'success',
			            			duration:1000,
			            			offset:120,
			            			onClose:function(){
			            				app.fileFormVisible = false
			            			}
			            		})				      				
			      			}else{
			      				app.$message({
			            			message:result.message,
			            			type:'warning',
			            			duration:2000,
			            			offset:120
			            		})	
			      			}
			      		    console.log(response)
						}
					)
				},
				doDelete:function(index, row){	
					//alert('path' + row.path)
					$.confirm({
					    title: '提示!',
					    content: '确定要删除？',
					    boxWidth: '25%',
					    useBootstrap: false,
					    type: 'red',
					    typeAnimated: true,
					    buttons: {
					        cancel:{
					        	text:"取消"
					        },
					        confirm:{
					        	text:"确定",
					        	action:function () {
					        		axios.get('/pm/biz/pro/svn/delete', {
						      		    params: {
						      		    	path:row.path
						      		    }
						      		}).then(function (response) {
						      			var result = response.data	
						      			if(result.status == 200){
						      				app.$message({
						            			message:'目录/文件删除成功!',
						            			type:'success',
						            			duration:1000,
						            			offset:120,
						            			onClose:function(){
						            				app.getSvnDocuments('/','0')
						            			}
						            		})	
						      			}else{
						      				app.$message({
						            			message:result.message,
						            			type:'warning',
						            			duration:2000,
						            			offset:120
						            		})	
						      			}
						      		    console.log(response)
						      		}).catch(function (error) {
						      			alert("error")
						      		    console.log(error)
						      		})  
					        	}
					        }
					    }
					});
				},
				load:function(tree, treeNode, resolve) {
					//alert('id is : ' + tree.id + ',path is : ' + tree.path + ', program id : ' + this.proId + ', parent id : ' + tree.pId)
			        axios.get('/pm/biz/pro/svn/docs', {
		      		    params: {
		      		    	path:tree.path,
		      		    	id:tree.id,
		      		    	proId:app.proId
		      		    }
		      		}).then(function (response) {
		      			var result = response.data	
		      			if(result.status == 200){		      				
		      				resolve(result.data)
		      			}
		      		    console.log(response)
		      		}).catch(function (error) {
		      			alert("error")
		      		    console.log(error)
		      		})
			      }
			},
			mounted:function(){
				//alert('Mounted!!!')
				this.getProList()					
			}
		});	
	</script>
</body>
</html>