<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/css-elementui::common_css(~{::title}, ~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目管理系统 - 字典信息维护</title>
</head>
<body>
	<!-- 引入公共js文件 -->
	<div th:replace="commons/js-elementui::common_js(~{::script})"></div>
		<div id = "app">
		  	 <el-container>
		  	 	<el-header>
					<div th:include="commons/nav-eu::common_naveu()"></div>		  	 	
		  	 	</el-header>
		  	 	<el-main>
		  	 		<el-row type = "flex" justify = "center" align = "middle">
		  	 			<!--el-col :span = "4">
		  	 				<el-button type = "info" icon = "el-icon-menu" circle plain></el-button>
		  	 			</el-col-->
		  	 			<el-col :span = "2" :offset = "22">
		  	 				<el-button type = "primary" icon = "el-icon-plus" round plain @click = "addDict('dictForm')" size = "small">新增</el-button>
		  	 				<el-dialog :title = "formTitle" :visible.sync = "formVisible" @close = "closeDictionary" :close-on-click-modal = "false">
		  	 					<el-form :model="form" :rules = "rules" ref = "dictForm">
								    <el-form-item label="字典编码" :label-width="formLabelWidth" prop = "code">
								      <el-input v-model="form.code" autocomplete="off"></el-input>
								    </el-form-item>
								    <el-form-item label="字典名称" :label-width="formLabelWidth" prop = "name">
								      <el-input v-model="form.name" autocomplete="off"></el-input>
								    </el-form-item>
								 </el-form>
								 <div slot="footer" class="dialog-footer">
								    <el-button @click="closeDictionary">取 消</el-button>
								    <el-button type="primary" @click="saveDict('dictForm')">保存</el-button>
								 </div>
		  	 				</el-dialog>
		  	 			</el-col>
		  	 		</el-row>
		  	 		<el-row>
		  	 			<el-col :span = "24">
		  	 				<el-table :data="dictData" style="width:100%;" :max-height = "height">
		  	 					<!-- 使用 v-if 隐藏列 -->
						      	<el-table-column prop = "tid" label = "ID" v-if = "false"></el-table-column>
						      	<el-table-column prop = "code" label = "字典编码"></el-table-column>
						      	<el-table-column prop = "name" label = "字典名称"></el-table-column>
						      	<el-table-column label = "操作" width = "200" align = "center">
						      		<template slot-scope="scope">
								        <el-button
								          size="mini"
								          type = "primary"
								          icon = "el-icon-edit"
								          plain
								          @click="editDict(scope.$index, scope.row)"></el-button>
								        <el-button
								          size="mini"
								          type="success"
								          icon = "el-icon-s-grid"
								          plain
								          @click="enums(scope.$index, scope.row)"></el-button>
							      </template>
						      	</el-table-column>
						    </el-table>	
		  	 			</el-col>
		  	 		</el-row>
		  	 		<el-row type = "flex" justify = "end" align = "bottom">
		  	 			<el-col :span = "24">
		  	 				<el-pagination 
		  	 					layout="prev, pager, next" 
		  	 					:total="total" 
		  	 					:page-size="items"
		  	 					@current-change = "changePage"
		  	 					small >
		  	 				</el-pagination>
		  	 			</el-col>
		  	 		</el-row>	
		  	 		<!-- 枚举之维护 -->
			        <el-dialog title = "字典枚举值" :visible.sync = "enumVisible" @close = "closeEnumeration" :close-on-click-modal = "false">
			          	<el-form :inline="true" :model="eform" :rules = "erules" size = "mini" ref = "enumForm">
			          		 <el-form-item prop = "value">
							    <el-input v-model="eform.value" placeholder="value"></el-input>
							 </el-form-item>
							 <el-form-item prop = "view">
							    <el-input v-model="eform.view" placeholder="view"></el-input>
							 </el-form-item>
							 <el-form-item>
							    <el-button type="primary" @click="saveEnum('enumForm')" icon = "el-icon-check" size = "mini" plain round>{{ebuttonText}}</el-button>
							    <el-button type="success" @click="resetEnum('enumForm')" icon = "el-icon-refresh-left" size = "mini" plain round>重置</el-button>
							 </el-form-item>
			          	</el-form>
			          	<el-table :data="enumData" size = "mini" @row-click = "editEnum">
			          		<el-table-column prop="tid" label="枚举 - ID" align = "center" v-if = "false"></el-table-column>
					      	<el-table-column prop="value" label="枚举 - Value" align = "center"></el-table-column>
					      	<el-table-column prop="view" label="枚举 - View" align = "center"></el-table-column>
					    </el-table>
			        </el-dialog>	  	 		
		  	 	</el-main>
		  	 </el-container>		  	 
		</div>
	<script>
		var app = new Vue({
			el:"#app",
			data:function(){				
				return{
					total:10,							//记录总条数
					items:10,							//每页条数
					page: 1,							//当前页
					height:window.screen.height * 0.55,	//表格最大高度
					formTitle:'新增字典',					//字典窗体标题
					formVisible:false,					//字典窗体显示	
					enumVisible:false,					//枚举窗体显示
					formLabelWidth:'120px',
					ebuttonText:'新增',
					form:{
						id:'',
						code:'', 
						name:''
					},
					eform:{
						id:'',
						value:'',
						view:''
					},
					rules:{
						code:[
							{required:true, message:'请输入字典编码!', trigger:'blur'}
						],
						name:[
							{required:true, message:'请输入字典名称!', trigger:'blur'}
						]
					},
					erules:{
						value:[
							{required:true, message:'请输入枚举Value!', trigger:'blur'}
						],
						view:[
							{required:true, message:'请输入枚举View!', trigger:'blur'}
						]
					},
					dictData: [],			//字典数据list
					enumData: []			//字典枚举数据list
				}
			},
			methods:{
				//关闭字典维护窗体
				closeDictionary:function(){
					this.formVisible = false
					this.form.id = ''
					this.form.code = ''
			      	this.form.name = ''			      	
				},
				//新增字典
				addDict:function(f){
					this.form.id = ''
					this.form.code = ''
		      		this.form.name = ''
		      		this.formTitle = '新增字典'
					this.formVisible = true
					this.$refs[f].resetFields()
				},
				//编辑字典
		      	editDict:function(index, row){
		      		//alert(row.tid)
		      		this.form.id = row.tid
		      		this.form.code = row.code
		      		this.form.name = row.name
		      		this.formVisible = true
		      		this.formTitle = '修改字典'
		      		this.$refs[form].resetFields()
		      	},
				//执行保存字典
				saveDict:function(form) {
			        this.$refs[form].validate(function(valid) {
			          if (valid) {
			            axios.post('/pm/sys/dict/save', {
			            	id:app.form.id,
			            	code:app.form.code,
			            	name:app.form.name,
			            	user:'admin'
			            }).then(function (response) {
			            	var result = response.data
			            	if(result.status == 0)
			            		app.$message({
			            			message:result.message,
			            			type:'warning',
			            			duration:2000,
			            			offset:120
			            		})	
			            	else{
			            		app.formVisible = false
			            		app.getDictData()
			            	}			            		
			            }).catch(function (error) {
			            	alert(error)
			            });			            
			          } else {
			            console.log('error submit!!')
			            return false;
			          }
			        });
		      	},
		      	//打开字典枚举数据维护窗体
		      	enums:function(index, row){		      		
		      		//alert('Dictionary id : ' + row.tid)
		      		//获取枚举数据
		      		this.form.id = row.tid
		      		this.getEnumData()
		      		this.enumVisible = true
		      		//清空表单
		      		this.resetEnum('enumForm')		      		
		      	},
		      	//编辑字典枚举数据
		      	editEnum:function(row, column, event){
		      		//alert('row clicked...'+row.id)
		      		this.$refs['enumForm'].resetFields()
		      		this.eform.id = row.tid
		      		this.eform.value = row.value
		      		this.eform.view = row.view
		      		this.ebuttonText = '修改'		      		
		      	},
		      	//重置字典枚举数据
		      	resetEnum:function(f){
		      		this.eform.id = ''
		      		this.eform.value = ''
		      		this.eform.view = ''
		      		this.ebuttonText = '新增'
		      		this.$refs[f].resetFields()
		      	},
		      	//保存字典枚举数据
		      	saveEnum:function(form){
		      		this.$refs[form].validate(function(valid) {
		          	if (valid) {
		          		//alert('save enumeration ... DICT ID IS : ' + app.form.id)
			            axios.post('/pm/sys/enum/save', {			            	
			            	dict:app.form.id,
			            	id:app.eform.id,
			            	value:app.eform.value,
			            	view:app.eform.view,
			            	user:'admin'
			            }).then(function (response) {
			            	var result = response.data
			            	if(result.status == 0)
			            		app.$message({
			            			message:result.message,
			            			type:'warning',
			            			duration:2000,
			            			offset:120
			            		})	
			            	else{			            		
			            		app.getEnumData()
			            		app.resetEnum('enumForm')
			            	}			            		
			            }).catch(function (error) {
			            	alert(error)
			            });			            
			          } else {
			            console.log('error submit!!')
			            return false;
			          }
			        });
		      	},
		      	//字典分页
		      	changePage:function(page){
		      		this.page = page
		      		this.getDictData()
		      	},
		      	//获取字典清单数据
		      	getDictData:function(){
		      		axios.get('/pm/sys/dict/all', {
		      		    params: {
		      		      page:app.page,
		      		      limit:app.items
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.dictData = result.data
		      			app.total = result.number
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
		      	},
		      	//根据字典uuid获取枚举值
		      	getEnumData:function(){
		      		//alert('Get Dictionary data and the id is : ' + app.form.id)
		      		axios.get('/pm/sys/enum/all', {
		      		    params: {
		      		    	dict:app.form.id
		      		    }
		      		}).then(function (response) {
		      			var result = response.data
		      			app.enumData = result.data		      			
		      		    console.log(response)
		      		}).catch(function (error) {
		      		    console.log(error)
		      		})
		      	}
			},
			mounted:function(){
				//alert('Mounted!!!')
				this.getDictData()
			}
		});		
	</script>
</body>
</html>